@{ 
    ViewData["Title"] = "Neuwagen";
}
<div class="container">
    <h1>Neuwagen</h1>
    <br />
    <object data="~/docus/Preisliste_Opel_Mokka.pdf" type="application/pdf" height="500px" width="1100px">
        <p>Download Preisliste PDF <a href="~/docus/Preisliste_Opel_Mokka.pdf"></a></p>
    </object>
</div>