@{
    ViewData["Title"] = "Groesse";
    <h1>Bild ist zu Gross</h1>
    <p>Entschuldigen Sie bitte die Störung</p>
    <p>
        Fehler: @ViewBag.Message
    </p>
    <p>
        Bitte informieren Sie den Support: @ViewBag.TelNr
    </p>
    
}

