
@{
    ViewData["Title"] = "Kontakt";
}

<br />

<div class="container" style="text-align: center;">
    <h1>Kontakt</h1>
    <hr />
    <p>Autopark AG</p>
    <p>Sonnenbergstr. 14, 8610 Uster</p>
    <p>Tel. 044 905 20 26</p>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="~/images/Staff/beard-1845166_1920.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Dominik Lentz</h5>
                    <p class="card-text">
                        Dominik ist ein sehr kompetenter Mitarbeiter. Er arbeitet im Support und ist zuständig dafür, dass alle Fragen innert kurzer Zeit beantwortet werden.
                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            Tel: +41 000 00 00
                            E-Mail: dominik.lentz@autopark.ch
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="~/images/Staff/people-875597_1920.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Pascal Simic</h5>
                    <p class="card-text">Pascal ist Leiter der Logistik. Durch seine sensationellen Fähigkeiten wird unser Lager immer perfekt instandgehalten und Waren schnell verschickt. </p>
                    <p class="card-text">
                        <small class="text-muted">
                            Tel: +41 000 00 00
                            E-Mail: pascal.simic@autopark.ch
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="~/images/Staff/woman-657753_1920.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Lotta Mayer</h5>
                    <p class="card-text">Lotta ist in der Geschäftsleitung und bringt durch ihre aufgeweckte Art Leben in die Firma.</p>
                    <p class="card-text">
                        <small class="text-muted">
                            Tel: +41 000 00 00
                            E-Mail: lotta.mayer@autopark.ch
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <p>Werkstatt: <a href="mailto:werkstatt@autopark.ch">werkstatt@autopark.ch</a></p>
    <p>Verkauf: <a href="mailto:verkauf@autopark.ch">verkauf@autopark.ch</a></p>
</div>


